doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  script(src="javascripts/segment.min.js")
  script(src="javascripts/ease.min.js")
  script.
    require('initialize');

body
  #menu
    .container
      .links
        a(href="/").pink
          |Работы
        a(href="/about")
          |О нас
        a.contact
          |Контакты
      .flex-inner-cont
        .social
          a(href="http://instagram.com/cr8tive")
            img.svg(src="images/instagram.svg")
          a(href="http://www.facebook.com/yyurchenko")
            img.svg(src="images/fb.svg")
          a(href="http://twitter.com/yuriyurchenko")
            img.svg(src="images/twitter.svg")
          a(href="http://dribbble.com/cr8tive")
            img.svg(src="images/dr.svg")
        .contacts
          .addres
            |Россия, Ростов-на-Дону, ул. Пушкинская, 157
          .numbers
            .one
              |+7 863 264 94 89
            .two
              |+7 919 894 44 44
          .mail
            a(href="mailto:yuriyurchenko@me.com") Написать письмо
  .main-page


    .footer
      .container
        .copyright
          |© 2012—2015 You Rock Dude!
        .social
          a(href="http://instagram.com/cr8tive")
            img.svg(src="images/instagram.svg")
          a(href="http://www.facebook.com/yyurchenko")
            img.svg(src="images/fb.svg")
          a(href="http://twitter.com/yuriyurchenko")
            img.svg(src="images/twitter.svg")
          a(href="http://dribbble.com/cr8tive")
            img.svg(src="images/dr.svg")



