doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  script(src="javascripts/segment.min.js")
  script(src="javascripts/ease.min.js")
  script.
    require('initialize');

body
  .preloader.preloader-active
    img(src="images/preloader.gif")
  #menu
    .container
      .links
        a(href="index.html").pink
          |Работы
        a(href="about-us.html")
          |О нас
        a.contact
          |Контакты
      .flex-inner-cont
        .social
          a(href="")
            img.svg(src="images/vk.svg")
          a(href="")
            img.svg(src="images/fb.svg")
          a(href="")
            img.svg(src="images/twitter.svg")
          a(href="")
            img.svg(src="images/youtube.svg")
        .contacts
          .addres
            |Россия, Ростов-на-Дону, ул. Пушкинская, 157
          .numbers
            .one
              |+7 863 264 94 89
            .two
              |+7 919 894 44 44
  .main-page
    
    .head
      header.header
        .container
          a.logo(href="")
            img.svg(src="images/logo.svg")
          .menu
            svg(width="100px" height="100px")
              path(id="pathA" d="M 30 40 L 70 40 C 90 40 90 75 60 85 A 40 40 0 0 1 20 20 L 80 80")
              path(id="pathB" d="M 30 50 L 70 50")
              path(id="pathC" d="M 70 60 L 30 60 C 10 60 10 20 40 15 A 40 38 0 1 1 20 80 L 80 20")
      .main
        .background(data-parallax="scroll" data-image-src="../images/bg1.png")
        .opacity-back(data-parallax="scroll" data-image-src="../images/bg2.png")
   
        .container
          #content
            #left-txt
              |Мы разрабатываем
            #center-txt
              |Брединг
            
           
                
        
        
                  
               
    .portfolio
      .container 
        .inner
          .main-flex
            .flex-inner
              a.flex-item(href="project-page.html")
                .text
                  .title
                    |— Tsargrad.tv
                  .txt
                    |Фитнес клуб высоких
                    
                    |достижений
                    
                    |разработка промо сайта
              a.flex-item(href="project-page.html")
                .text
                  .title
                    |— Nivea
                  .txt
                    |Фитнес клуб высоких
                    
                    |достижений
                    
                    |разработка промо сайта
            .flex-inner
              a.flex-item(href="project-page.html")
                .text
                  .title
                    |— Nike+
                  .txt
                    |Фитнес клуб высоких
                    
                    |достижений
                    
                    |разработка промо сайта
              a(href="project-page.html").flex-item
          .main-flex-second
            .flex-inner
              
              a(href="http://www.suzuki-motor.ru/" target="_blank").flex-item
                .images
                  .first
                    .image
                      img(src="images/moto.png")
                  .second
                    .image
                      img.svg(src="images/SUZUKI_logo.svg")

                .text
                  .title
                    |— Suzuki Motor
                  .txt
                    |Сайт японской
                    |машиностроительной
                    |компании
          .main-flex-third
            .flex-inner
              a(href="project-page.html").flex-item
              a(href="project-page.html").flex-item
                .text
                  .title
                    |— Раменский
                  .txt
                    |Фитнес клуб высоких
                    
                    |достижений
                    
                    |разработка промо сайта
              a(href="project-page.html").flex-item
                .text
                  .title
                    |— Fendi
                  .txt
                    |Фитнес клуб высоких
                    
                    |достижений
                    
                    |разработка промо сайта
            .flex-inner
              a(href="project-page.html").flex-item
                .text
                  .title
                    |— Infinity
                  .txt
                    |Фитнес клуб высоких
                    
                    |достижений
                    
                    |разработка промо сайта
              a(href="project-page.html").flex-item
                .text
                  .title
                    |— Fresh Market
                  .txt
                    |Фитнес клуб высоких
                    
                    |достижений
                    
                    |разработка промо сайта
    .footer
      .container
        .copyright
          |© 2012—2015 You Rock Dude!
        .social
          a(href="")
            img.svg(src="images/vk.svg")
          a(href="")
            img.svg(src="images/fb.svg")
          a(href="")
            img.svg(src="images/twitter.svg")
          a(href="")
            img.svg(src="images/youtube.svg")



